html {
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
}
body{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 38, 38);
}
a{
  text-decoration: none;
}
header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    flex-direction: row;
   
    padding: 0 5%;
}
header a{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}
header ul{
  list-style: none;
  display: flex;
  
}
header li{
  margin: 0 1rem;
}

header nav a{
  color: rgb(185, 131, 31);
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 100px;
}
header nav a:hover{
  color: rgb(224, 163, 44);
} 
.menu-btn{
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 
.menu-btn span{
  width:100%;
  height: 3px;
  background-color: white;
}
main h1{
  text-align: center;
  color: rgb(238,164 ,88  );
  font-size: 3rem;

}
#side-bar{
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#side-bar:target{
  display: none;

}
#side-bar ul{
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#side-bar li{
  margin: 1rem 0;
}
#side-bar a{
  text-decoration: none;
  color: rgb(253, 230, 213);
  font-size: 2rem;
}
aside header  {
 height: 5rem;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding: 0 5%; 
 

  
}
section{
  width: 80%;
  margin: 2rem auto;
}
section ul{
  display:grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

section li{
  background-color: rgb(228, 206, 188);
  border-radius: 6px;
  overflow: hidden;
}
section img{
  height: 15rem;
  width: 100%;
  object-fit: cover;  
}
section div{
  padding: 1rem;
  text-align: center;
  
}

section a{
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;

}
section a:hover{
  background-color: rgb(221, 134, 34);
}

@media(max-width:48rem){
  header ul{
    display: none;
  }

  #side-bar:target{
    display: block;
  
  }

  main h1{
    font-size: 1.5rem;
  }

  section ul{
    grid-template-columns: 100%;
  }
}
@media(min-width:768px){
  .menu-btn{
    display: none;
  }

  #side-bar{
    display: none;
  }
}
